html {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #e8e8e8;
    background-color: #1a1a1a;
}

main {
    background-color: #343434;

    margin: 2rem;
    padding: 2rem;
}

h1 {
    font-weight: 400;
}

label {
    font-weight: 100;
}

input {
    background-color: #353535;
}

input[type='range'] {
    accent-color: #cecece;
    background-color: #515151;
}

input[type='number'] {
    color: #fff;
    border: 0px;
    padding: 1rem;
}

.btn {
    color: #fff;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border: 0px;
}

.btn-primary {
    color: #fff;
    background-color: #0568a6;
}

#rangeDisplayElement {
    width: 100%;
}